body {
    color: rgb(50,50,50);
}

.navi {
    /*background: #38A89D;*/
    padding: 10px;

    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    /*
    box-shadow: 0px 0px 3px 0px #0D3331;
*/

    a { 
        color: rgba(255,255,255,0.7);
        padding-left: 10px;
        padding-right: 10px;
        transition: 0.5s;
        text-decoration: none;
    
    }
    a:hover {
        color: rgba(255,255,255,0.5);
        transition: 0.5s;
        
    }
/*
    a {
        color: #0D3331;
        display: inline-block;
        padding-left:10px;
        padding-right:10px;
    }
    */
}

.navi .brand {
    font-weight: bold;
    color:#fff;
    padding-left:10px;
    padding-right:10px;
}

.navi .router-link-exact-active  {
    text-decoration: underline;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */
    {
    opacity: 0;
}